.partners__item {
  --card-set-column: 6;
  min-height: 92px;
}
.partners__link {
  @include alignment(center, center);
  width: 100%;
  height: 100%;
  color: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;

  @include transition(color, border);

  &:hover,
  &:focus {
    border: 1px solid var(--active-color);
    color: var(--active-color);
  }
}
.partners__icons {
  fill: currentColor;
}
