.works {
    padding-top: 0;

    &__item {
        position: relative;
        --card-set-column: 3;
      }
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
  
    background-color: rgba(47, 48, 58, 0.8);

    &__text {
        padding-top: 27px;
        padding-bottom: 27px;
      
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        text-align: center;
        text-transform: uppercase;
        color: var(--white-color);
      }
  }
 